@font-face { font-family: 'SprinklesCupcakes'; 
    src: url('fonts/SprinklesCupcakes.otf'); 
}

* {
padding: 0;
margin: 0;
font-family: 'SprinklesCupcakes', cursive;
}

ul {
list-style: none;
background: #382628;
}

ul li{
display: inline-block;
position: relative;
}

ul li a {
display: block;
padding: 20px 25px;
color: #FFF;
text-decoration: none;
text-align: center;
font-size: 1.5625em;
}

ul li ul.dropdown li {
display: block;
}

ul li ul.dropdown {
width: 100%;
background: #382628;
position: absolute;
z-index: 999;
display: none;
}

ul li a:hover {
background: #F5C1C9;
border-radius: 3.75em;
transition: background-color 1s ease;
transition: border-radius 1s ease;
}

ul li:hover ul.dropdown {
display: block;
}

body {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #F78F9E;
}

.nav-bar{
background-color: #382628;
align-items: center;
text-align: center;
justify-content: space-between;
display: flex; 
flex-direction: row;
width: 100%;
height: 15%;
position: fixed; 
top: 0; 
left: 0;
}
.nav-buttons{
background-color: pink;
justify-content: center;
height: 40px;
width: 60px;
margin: 5px
}
.nav-image{
display: flex;
background-size: cover;
margin: 1em;
height: 5em; /* 40px / 16px = 2.5em */
width: 5em; /* 40px / 16px = 2.5em */
border-radius: 3.75em;
}

.site-title{
text-align: center;
align-items: space-between;
font-size: 2.5em; /* 40px / 16px = 2.5em */
font-family: 'SprinklesCupcakes', cursive;
font-weight: bold;
color: #F5C1C9;
text-shadow: 0.125em 0.125em 0.25em black; /* 2px / 16px = 0.125em, 4px / 16px = 0.25em */
}
.small-menu {

color: #FFF;
text-decoration: none;
text-align: center;
font-size: 1.1em;

}
ul.dropdown li ul.info-box {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 200px;
    background-color: #756065;
  }
  
  ul.dropdown li:hover ul.info-box {
    display: block;
  }
  
